@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Lexend+Deca:wght@100..900&display=swap");
:root {
  /*## Colors*/
  /*************************/
  /*### Primary*/
  --gold-500: hsl(31, 77%, 52%);
  --cyan-800: hsl(184, 100%, 22%);
  --green-950: hsl(179, 100%, 13%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --gray: hsl(0, 0%, 95%);

  --ff-heading: "Big Shoulders", sans-serif;
  --ff-body: "Lexend Deca", sans-serif;

  --card-text: hsl(from var(--white) h s l / 0.5);
}
* {
  margin-inline: 0;
}
html {
  font-size: 15px;
  line-height: 1.6;
}
body {
  font-family: var(--ff-body);
  min-block-size: 100%;
  display: grid;
  place-content: center;
}

@layer cards {
  [data-ride="sedans"] {
    background-color: var(--gold-500);
    grid-area: sedans;
  }
  [data-ride="suvs"] {
    background-color: var(--cyan-800);
    grid-area: suv;
  }
  [data-ride="luxury"] {
    background-color: var(--green-950);
    grid-area: luxury;
  }

  .card-grid {
    display: flex;
    gap: 2rem 0;
    padding: 2rem;
    width: 800px;
  }

  .card {
    padding: 6rem 2rem 3rem;
    color: var(--card-text);
    max-width: 400px;
  }

  .card > img {
    width: 60px;
  }
  .card__title {
    font-size: 2rem;
    font-family: var(--ff-heading);
  }
  .card-info-group {
    margin-block-end: 4rem;
  }

  @layer button {
    button {
      border: none;
      padding: 0.6rem 1.4rem;
      width: fit-content;
      border-radius: 999px;
      font: inherit;
      font-size: 0.875rem;
      cursor: pointer;
      font-weight: 500;
    }
    .button[data-button="sedan"] {
      color: var(--gold-500);
    }
    .button[data-button="suv"] {
      color: var(--cyan-800);
    }
    .button[data-button="luxury"] {
      color: var(--green-950);
    }
  }
}
